@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');
body {
  background-color:  #a7cdf2;
}
#map {
    height: 100%;
    width: 100%;
    right: 0;
    position: absolute;
    top: 0;
}

/* The close button*/
.sidenav a {
    color: white;
    text-align: end;
    padding-right: 20px;
    /*padding-left: 90%;*/
    text-decoration: none;
    font-size: 250%;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #5CF22C;
}


/* The side navigation menu */
.sidenav  {
    font-family: 'Playfair Display', serif;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.1s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav h1{
  color: white;
  text-align: center;
}


.sidenav div{
  color: #E9E8E7;
  font-size: 150%;
  /*margin-left: 10%;*/
}

.sidenav div:hover{
    font-weight: 900;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.mini-logos {
  width: 10%;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}